# Databases
*.db
*.sqlite

# Environment files
.env
.env.local
.env.*

# Python Cache & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
